<!-- Header -->
<header id="header">
  <div class="inner">
    <!-- Logo -->
    <a href="index.html" class="logo">
      <span class="symbol"><%= image_tag('logo.svg')%></span><span class="title">Assando Eventos</span>
    </a>
    <!-- Nav -->
    <nav>
      <ul>
        <li><a href="#menu">Menu</a></li>
      </ul>
    </nav>
  </div>
</header>