<header id="header">
  <div class="inner">
    <%= link_to(root_path, class: 'logo') do %>
        <span class="symbol"><%= image_tag('logo.svg') %></span>
        <span class="title">Estácio TCC</span>
    <% end %>

    <nav>
      <ul>
        <li><a href="#menu">Menu</a></li>
      </ul>
    </nav>
  </div>
</header>