<!-- Menu -->
<nav id="menu">
  <h2>Estácio TCC - Eventos</h2>
  <ul>
    <li> <%= link_to('Palestras', root_path) %>
    <li> <%= link_to('Inscreva-se!', new_attendee_path) %>
    <li> <%= link_to('Contato', new_contact_path) %>
  </ul>
</nav>